// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

.page
  @extend .fade-transition

body {
  word-break: break-word;
}
a {
  text-decoration: none;
}
.reddit-html ol, .reddit-html ul {
  padding-left: 30px;
}
